::selection {
	background: fade(yellow, 40%);
}

/* Body ---------------------------------- */
body {
	background: @white;
	font-family: @fontMain;
	font-size: @font-size;
	line-height: 1.8em;
	color: @black;
	min-height: 100%;
	font-weight: 300;
	word-break: break-word;
}

p {
	padding-bottom: @space;
}

strong {
	font-weight: 400;
}

iframe {
	max-width: 100%;
	width: 100%;
}

/* LINKS ---------------------------------- */
a {
	transition: 0.6s all ease
}

a:link,
a:visited {
	color: @black;
	text-decoration: none;
}

main {

	a:link,
	a:visited {
		border-bottom: 1px solid fade(@blue, 50%);
	}
	a.noborder:link,
	a.noborder:visited {
		border-bottom: none;
	}

	a:hover,
	a:active {
		color: @blue;
		border-bottom-color: @blue;
	}

	// as to not use in header or footer.
	ol,
	ul {
		margin: 0 0 @space @space;
	}

	ol li {
		list-style-type: decimal;

		ol {
			margin-bottom: 5px;

			li {
				list-style-type: lower-latin;
			}
		}
	}

	ul li {
		list-style-type: square;

		ul {
			margin-left: @space;
			margin-bottom: @space
		}
	}
}

.center {
	text-align: center;
}

/**
 * ==================================================================
 * 📱 RESPONSIVE
 * ------------------------------------------------------------------
 */
 @media screen and (max-width: @laptop) {

 }
 @media screen and (max-width: @tablet) {
	 body {
		 font-size: @font-size*0.9;
	 }
}
 @media screen and (max-width: @phone) {
	 body {
		 font-size: @font-size*0.8;
	 }
}
@media screen and (max-width: 400px) {
	body {
		font-size: @font-size*0.7;
	}
}