/**
 * Element w/ Gutenberg default style adjustments, and custom editor classes.
 */

 /* PRE/CODE tags ---------------------------------- */

.wp-block-code {
	font-size: inherit; // we don't want it 14px;
}

/* Line Breaks ---------------------------------- */

hr,
HR.wp-block-separator {
	// via gutenberg.
	clear: both;
	margin-top: @space;
	margin-bottom: @space*2;
	background: fade(@black, 10%);
	height: 1px;
	line-height: 1px;
	outline: none;
	border: 0;
}

/* Quotes ---------------------------------- */

.wp-block-quote:not(.is-large):not(.is-style-large),
.wp-block-quote,
blockquote {
	padding: @space/2 0 @space/2 @space;
	margin: 0 0 @space 0;
	border-left-color: fade( @black, 80% );
	p {
		font-size: 2rem;
		font-family: Georgia, 'Times New Roman', Times, serif; // only use of serif.
		font-style: italic;
		padding-bottom: @space/2;
	}

	&:before,
	&:after {
		content: '';
	}
	cite {
		font-size: .9em;
		margin: 0;
		color: @gray;
	}
}

/* Images ---------------------------------- */

.wp-block-image figcaption {
	font-size: inherit;
	.post_meta;
}

ul.wp-block-gallery {
	margin-left: 0;
}

/* Custom Classes ---------------------------------- */

.has-medium-font-size {
	font-size: 1.4em;
	line-height: 1.8em;
}

.editor-writing-flow .notice, // gutenberg.
.notice {
	background-color: #ffe454;
	text-align: center;
	margin-bottom: 20px; // same as "padding" for <p> tags.
	padding: @space;
}

.center {
	text-align: center;
}

/**
 * ==================================================================
 * 📱 RESPONSIVE
 * ------------------------------------------------------------------
 */

@media screen and (max-width: @phone) {
	.wp-block-quote:not(.is-large):not(.is-style-large),
	.wp-block-quote,
	blockquote {
		padding: @space/2 0 @space/2 @space/2;
		p {
			font-size: 1.4rem;
		}
	}
}
