header#head {
	padding: @spaceLayout 0 @spaceLayout @spaceLayout;
    width: calc( ( ( 100vw - @spaceLayout ) * .25 ) );
	display: flex;
	overflow: auto;
	position: fixed;
	bottom: 0;
	left: 0;
	top: 0;
	margin: 0 auto;
	.head__inner {
		width: 100%;
		display: flex;
		flex-direction: column;
		& > * {
			display: block;
		}
		h1 {
			margin-bottom: 3rem;
		}
		nav {
			width: 100%;
			&#main {
				flex: 2;
			}
			&#sec {
				align-self: flex-end;
			}
		}
	}
}

footer,
main {
	padding: @spaceLayout @spaceLayout 0 0;
	width: calc( ( ( 100vw - @spaceLayout ) * .7 ) - 4rem );
	margin: 0 0 0 auto;
	display: block;
    position: relative;
    top: 0;
}

footer {
	padding-top: @spaceLayout/2;
    padding-bottom: @spaceLayout;
}

/**
 * ==================================================================
 * 📱 RESPONSIVE
 * ------------------------------------------------------------------
 */
 @media screen and (max-height: 650px) and (min-width: @laptop) {
	header#head {
		padding: @spaceLayout*0.5 0 @spaceLayout*0.5 @spaceLayout;
	}
	footer,
	main {
		padding: @spaceLayout*0.5 @spaceLayout @spaceLayout*0.5 0;
	}
 }

 @media screen and (max-width: @laptop) {
	header#head {
		padding: @spaceLayout*0.75 0 @spaceLayout*0.75 @spaceLayout*0.75;
		width: calc( ( ( 100vw - @spaceLayout*0.75 ) * .25 ) );
	}
	footer,
	main {
		padding: @spaceLayout*0.75 @spaceLayout*0.75 @spaceLayout*0.75 0;
		width: calc( ( ( 100vw - @spaceLayout*0.75 ) * .7 ) - 4rem );
	}
	footer {
		padding-bottom: @spaceLayout*0.75;
	}
 }

@media screen and (max-width: @tablet) {
	header#head {
		padding: @spaceLayout*0.5;
		width: 100%;
		bottom: auto;
		width: 100%;
		position: relative;
		box-sizing: border-box;
		.head__inner {
			width: 100%;
			display: flex;
			flex-direction: row;
			& > * {
				flex: 1 !important; // undoing `flex 2`.
			}
			nav {
				&#sec {
					align-self: auto; // undoing flex-end
				}
			}
		}
	}
	footer,
	main {
		width: auto;
		padding: @spaceLayout*0.5;
	}
}

@media screen and (max-width: @phone) {
	header#head {
		padding: @spaceLayout*0.5 @spaceLayout*0.25 @spaceLayout*0.25 @spaceLayout*0.25;
		.head__inner {
			& > * {
			}
			nav {
				&#sec {
				}
			}
		}
	}
	footer,
	main {
		padding: @spaceLayout*0.25;
	}

}

@media screen and (max-width: 400px) {
	header#head {
		padding: @spaceLayout*0.5 @spaceLayout*0.1 @spaceLayout*0.25 @spaceLayout*0.1;
	}
	footer,
	main {
		padding: @spaceLayout*0.10;
	}
}
