header#head {
	h1 {
		padding: 0;
		margin: 0;
		border: none;
		position: relative;
		padding-left: 95px;
		margin-left: -95px;
		line-height: 1em;
		width: 200px;
		&:before {
			position: absolute;
			left: 0;
			top: -12px;
			content: "";
			display: inline-block;
			width: 75px;
			height: 75px;
			border-radius: 50%;
			background: @gray;
			z-index: 1;
			margin-right: 10px;
			background-image: url(https://www.gravatar.com/avatar/e41fd8a09adede4dce485d6400e27675?s=200);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 100%;
			filter: saturate(0%);
		}
		a {
			//font-family: Hack, monospace;
			color: fade(@black, 85%); //bit softer, take away focus
			letter-spacing: normal;
			font-weight: 400;
			transition: 0.6s all ease;
		}
		.description {
			display:block;
			color: @gray;
			font-size: 0.8em;
		}
	}

	// @TODO clean up this nesting.
	nav {
		&>ul {
			&, li {
				display: block;
				margin:0;
				padding: 0;
				list-style: none;
				clear: both;
				float: none;
			}
			&>li {
				padding: 0 5px;
				a:link {
					display: inline-block;
					text-decoration: none;
					border-bottom: 1px solid transparent;
					color: fade( #000, 70% );
				}

				a:hover,
				a:focus {
					border-bottom: 1px solid fade( @black, 50% );
				}

				// Projects page highlighting on single.
				.single-projects &.menu-item-object-projects > a,
				// Blog page highlighting on single.
				.single-post &.menu-item-home > a,
				// Normal highlighting.
				&.current-menu-item>a,
				&.current_page_ancestor>a,
				&.current_page_item>a {
					&:link,
					&:visited {
						color: fade( #000, 90% );
						border-bottom: 1px solid fade( @blue, 50% );
					}
				}

				a.icon {
					text-indent: -@width;
					width: 1.8rem;
					height: 1.8rem;
					background-size: 100%;
					opacity: 0.6;
					display: inline-block;
					&:hover {
						opacity: 1;
					}
				}
				&>ul {
					display: none ;
					//@TODO
				}
			}
		}
	}
}

/**
 * ==================================================================
 * 📱 RESPONSIVE
 * ------------------------------------------------------------------
 */

@media screen and (max-width: @tablet) {
	header#head {
		.head__inner {
			display: block;
			h1 {
				//padding-left: 65px;
				margin-left: 0;
				&:before {
				// 	position: absolute;
				// 	left: 0;
					top: -12px;
				// 	content: "";
				// 	display: inline-block;
				// 	width: 50px;
				// 	height: 50px;
				}
			}
			& > * {

			}
			nav {
				display: inline-block;
				width: auto;
				&#main {
				}
				&#sec {
					float: right;
				}
				& > ul {
					&, & > li {
						display: inline-block;
						clear: none;
					}
				}
			}
		}
	}
}

@media screen and (max-width: @phone) {
	header#head {
		.head__inner {
			h1 {
				padding-left: 75px;
				margin-left: 0;
				&:before {
					// 	position: absolute;
					// 	left: 0;
					// 	content: "";
					// 	display: inline-block;
					top: -12px;
					width: 60px;
					height: 60px;
				}
			}
			nav {
				&#sec {
					float: none;
				}
			}
		}
	}
}
