/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-ds-cpts-gutenberg-code  {
	.grid {
	    display: grid;
	    grid-gap: 20px;
	    align-items: center;
		grid-template-columns: 100px 1fr;
	}
}
