footer {
	max-width: @width;
	margin: 0px auto;
	margin-top: 50px;

	p {
		padding: 40px 0 50px 0;
		font-size: 0.8rem;
		text-align: center;

		&,
		a:link,
		a:visited {
			color: fade(@gray, 50%);
			text-decoration: none;
			;
		}

		a:link,
		a:visited {
			border-bottom: none;
		}

		a:hover,
		a:active {
			color: @c2;
		}
	}
}

// Responsive ---

@media screen and (max-width: @tablet) {
	footer {
		padding-left: 5%;
		padding-right: 5%;
	}

}
