/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-ds-cpts-gutenberg  {
	& > div.grid { // nessisary wrapper for returns

		display: grid;
	    grid-gap: 20px;
	    align-items: center;
		grid-template-columns: 300px 1fr;

		& > a { // img

		}
		& > div { // left

		}

	}
}
